html{ background-color:dark;}
body{ background-color:whitesmoke;}

#header h1{ color:dimgrey;} 
#header h1 a{color:dimgrey; }
#header h1 a:hover{color:black; }
#header h2{ color:slategrey; } 
 
#menu {color:dimgrey; }
#menu a {color:dimgrey; }
#menu a:hover {color:black; }

h2.menuheader {color:darkslategrey; }
h2.menuheader:hover{color:black;}
h2.menuheader:active{color:black;}

#menu ul li{color:grey; }
#menu ul li a{ color:grey; }
#menu ul li a:hover{ color:#000000; }

#menu ul li ul li a{ color:grey; }
#menu ul li ul li a:hover{ color:#000000; }

#menu ul li ul li ul li a{ color:grey; }
#menu ul li ul li ul li a:hover{ color:#000000; }

#menu ul li ul li ul li ul li a{ color:grey; }
#menu ul li ul li ul li ul li a:hover{ color:#000000; }

#recentcomments{ color:dimgrey; }
#recentcomments a{ color:dimgrey; }
#recentcomments a:hover{color:#000000; }

#maincol h2 a{color:dimgrey; } 
#maincol h2 a:hover{ color:black;}
#maincol p{color:darkslategrey; }
#maincol p a{ color:darkslategrey; }
#maincol p a:hover{ color:black; }
#maincol ul{ color:darkslategrey; }
#maincol ol{ color:darkslategrey; }

h2.contentheader{ color:dimgrey; } 
h2.contentheader:hover{color:black;}
h2.contentheader:active{color:darkslategrey;}

.permalink{ color:dimgrey; } 
.permalink a{color:dimgrey; } 
.permalink a:hover{color:black; } 

#wp-calendar{ color:#000000;}
#wp-calendar a{ color:darkslategrey;}
#wp-calendar a:hover{ color:#000000;}

blockquote p {color:darkslategrey;}
label {color:darkslategrey;}

#s,#submit {background-color:whitesmoke; border:1px solid slategrey; color:#505050;}
#author,#email,#url,#comment {border:1px solid slategrey;}

.left {border:1px solid slategrey;}
.right {border:1px solid slategrey; }
.center {border:1px solid #aaaaaa;}

#postinfotext{color:dimgrey; border-top: 1px dashed slategrey; border-bottom: 1px dashed slategrey;}
#postinfotext a { color:dimgrey; }
#postinfotext a:hover{ color:black; }

.commentheader {color:dimgrey; }

.commenticon {color:dimgrey; }
.commenticon a{ color:dimgrey; }
.commenticon a:hover{ color:black; }

.commenttext {color:dimgrey; }
.commenttext p{color:dimgrey; }

.wp-caption { border: 1px solid #ddd; background-color: #f3f3f3; }

.navigation {color:dimgrey; }
.navigation a { color:dimgrey; }
.navigation a:hover{ color:black; }
